FORMAT: 1A
HOST: http://intergalacticdb.me/

# Starhub API

Starhub API is a database of a collection of characters, planets, species, etc of StarWars Universe.  


## Character Collection [/characters.json]

### List all StarWars Characters [GET]
+ Response 200 (application/json)

        [{
            "name": "Luke Skywalker",
            "gender": "Male",
            "height": "1.72 meters",
            "planet": "Tatooine",
            "species": "Human",
            "description": "Luke Skywalker was a Force-sensitive Human male who helped defeat the Galactic Empire in the Galactic Civil War and helped found the New Republic, as well as the New Jedi Order. ",
            "image": "http://img1.wikia.nocookie.net/__cb20091118055536/starwars/images/e/e2/SwKOTOR25cropped.jpg",
        }, {
            "name": "Boba Fett"
            "gender" "Male"
            "height": "1.83 meters"
            "planet": "Kamino"
            "species": "Human"
            "description": "Boba Fett was a Mandalorian warrior and bounty hunter. He was the only unaltered clone of the famed Jango Fett, created in 32 BBY as unit A0050, one of the first of many Fett replicas designed to become part of the Grand Army of the Republic, and was raised as Jango's son. Jango taught Boba much, training him to become a skilled bounty hunter as was his father-figure before him. In 22 BBY, Jango was killed at the Battle of Geonosis, which opened the Clone Wars. Just a boy, Boba was forced to..."
            "image": "http://img2.wikia.nocookie.net/__cb20130920001614/starwars/images/5/58/BobaFettMain2.jpg"
        }]

## Character [/characters/{name}]
A single Character with all its details

+ Parameters
    + name (string) - name of a character

### Retrieve a Character [GET]
+ Response 200 (application/json)

    + Body
    
            {
                "name": "Luke Skywalker",
                "gender": "Male",
                "height": "1.72 meters",
                "planet": "Tatooine",
                "species": "Human",
                "description": "Luke Skywalker was a Force-sensitive Human male who helped defeat the Galactic Empire in the Galactic Civil War and helped found the New Republic, as well as the New Jedi Order. ",
                "image": "http://img1.wikia.nocookie.net/__cb20091118055536/starwars/images/e/e2/SwKOTOR25cropped.jpg",
        
            }

+ Response 404
    + Header
    
            Content-type: application/json

    + Body
    
            {"error": Sorry. That character does not exist."}

## Species Collection [/species.json]

### List all StarWars Species [GET]
+ Response 200 (application/json)

        [{
            "name": "Human"
            "characters": [],
            "classification": "Mammal ",
            "description": "",
            "image": "http://img3.wikia.nocookie.net/__cb20100628191857/starwars/images/5/5d/Humans-TESB30.jpg",
            "language": "Galactic Basic Standard\nOthers",
            "name": "Human",
            "planets": "Unknown, possibly Coruscant ",
        }, {
            "name": "Wookie",
            "characters": [
                "Attichitcuk",
                "Bacca",
                "Bowdaar",
                "Chewbacca",
                "Chuundar",
                "Dewlannamapia",
                "Fahraark",
                "Freyyr",
                "Grakchawwaa",
                "Groznik",
                "Gungi",
                "Hanharr",
                "Lowbacca",
                "Lumpawaroo",
                "Quagga",
                "Rorworr",
                "Salporin",
                "Tarfful",
                "Tojjevvuk",
                "Tyvokka",
                "Vryyr",
                "Yarua",
                "Yubookoo",
                "Zaalbar"
            ],
            "classification": "Mammal",
            "description": "Tall, hair covered, retractable climbing claws, long life spans",
            "image": "http://img2.wikia.nocookie.net/__cb20061128184734/starwars/images/5/57/ThreeWookieeAmigos-ROTSVD.jpg",
            "language": "Shyriiwook\nXaczik\nThykarann",
            "name": "Wookiee",
            "planets": "Nominally Kashyyyk; may have originated on an unknown planet"
        }]

    
## Species [/species/{name}.json]
A single Species with all its details in it

    + name (string) - name of a species

### Retrieve a species [GET]
+ Response 200 (application/json)
    + Body
    
            {
                "name": "Wookie",
                "characters": [
                "Attichitcuk",
                "Bacca",
                "Bowdaar",
                "Chewbacca",
                "Chuundar",
                "Dewlannamapia",
                "Fahraark",
                "Freyyr",
                "Grakchawwaa",
                "Groznik",
                "Gungi",
                "Hanharr",
                "Lowbacca",
                "Lumpawaroo",
                "Quagga",
                "Rorworr",
                "Salporin",
                "Tarfful",
                "Tojjevvuk",
                "Tyvokka",
                "Vryyr",
                "Yarua",
                "Yubookoo",
                "Zaalbar"
            ],
                "classification": "Mammal",
                "description": "Tall, hair covered, retractable climbing claws, long life spans",
                "image": "http://img2.wikia.nocookie.net/__cb20061128184734/starwars/images/5/57/ThreeWookieeAmigos-ROTSVD.jpg",
                "language": "Shyriiwook\nXaczik\nThykarann",
                "name": "Wookiee",
                "planets": "Nominally Kashyyyk; may have originated on an unknown planet"
            }
    
+ Response 404
    + Header
    
            Content-type: application/json
    
    + Body
    
            {"error": "Sorry. That species does not exist."}

## Planet Collection [/planets.json]

### List all planet locations [GET]
+ Response 200 (application/json)

        [{
            "image": "http:\/\/img2.wikia.nocookie.net\/__cb20131019121937\/starwars\/images\/b\/b0\/Tatooine_TPM.png",     
            "characters": ["Darth Vader"],
            "species": ["Human"],
            "name": "Tatooine",
            "description": "Tatooine (pronounced \/tætu'in\/; Jawaese: Tah doo Een e[8]) was a desert world and the first planet in the binary Tatoo star system. It was part of the Arkanis sector in the Outer Rim Territories. It was inhabited by poor locals who mostly farmed moisture for a living. Other activities included used equipment retailing and scrap dealing. The planet was on the 5709-DC Shipping Lane, a spur of the Triellus Trade Route, which itself connected to the Sisar Run. The planet was not far from the Corellian Run. It had its own navigation system. However, it would still play a role in galactic events, serving as the home of Anakin Skywalker. It was here that Jedi Master Qui-Gon Jinn recognized Anakin's potential to become a Jedi and where he introduced him to Obi-Wan Kenobi, his future master and mentor. Tatooine was also the home of Anakin's son, Luke, where he lived until his early adulthood. The planet acquired a bad reputation, often being viewed as the cesspool of the galaxy due to the large number of criminals who could be found there.",
            "region": "Outer Rim Territories",
            "system": "Tatoo system"
            
        }, {
            "image": "http:\/\/img2.wikia.nocookie.net\/__cb20090527045541\/starwars\/images\/thumb\/a\/a9\/Eaw_Kamino.jpg\/400px-Eaw_Kamino.jpg", 
            "characters": ["Boba Fett"],
            "species": ["Human"],
            "name": "Kamino",
            "description": "Kamino (pronounced \/kə'minoʊ\/), also known as the Planet of Storms,[10] was the watery world where the Clone Army of the Galactic Republic was created, as well as the Kamino Home Fleet. It was inhabited by a race of tall, elegant beings called the Kaminoans, who kept to themselves and were known for their cloning technology. Kamino was located just south of the Rishi Maze, and was governed by the Ruling Council, headed by the Prime Minister.",
            "region": "Wild Space",
            "system": "Kamino system"
        }]
        

## Planet [/planets/{name}]
A single planet with all its details in it

+ Parameters
    + name (string) - name of a planet


### Retrieve a planet [GET]
+ Response 200 (application/json)

    + Body
    
            {
                "image": "http:\/\/img2.wikia.nocookie.net\/__cb20090527045541\/starwars\/images\/thumb\/a\/a9\/Eaw_Kamino.jpg\/400px-Eaw_Kamino.jpg", 
                "characters": ["Boba Fett"],
                "species": ["Human"],
                "name": "Kamino",
                "description": "Kamino (pronounced \/kə'minoʊ\/), also known as the Planet of Storms,[10] was the watery world where the Clone Army of the Galactic Republic was created, as well as the Kamino Home Fleet. It was inhabited by a race of tall, elegant beings called the Kaminoans, who kept to themselves and were known for their cloning technology. Kamino was located just south of the Rishi Maze, and was governed by the Ruling Council, headed by the Prime Minister.",
                "region": "Wild Space",
                "system": "Kamino system"
            }
            
+ Response 404
    + Header
    
            Content-type: application/json
    
    + Body
    
            {"error": "Sorry. That planet does not exist."}


