
#order {
  position: relative;
  left: 51%;
  top: 80px;
  transform: translate(10%)
}

#sort-order-characters {
  position: relative;
  left: 50%;
  top: 5px;
  width: 115px;
  padding: 5px 5px 5px 5px;
}

body {
    letter-spacing: 0px;
}

select {
  width: 115px;
  position: relative;
  left: 1%;
  top: 5px;
}

.box-table table thead th{
  letter-spacing: 1px;

}

.order {
  position: relative;
  left: 5px;
}