<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- CSS -->
    <link href="{{ url_for('static', filename='styles/characters.css')}}" rel="stylesheet" type="text/css" />
</head>
  <div id="pricing-table" class="clear">

    {% for character in all_chartacters %}
      <div class="plan">
        <h3>Darth Vader<span><img src="http:\/\/img2.wikia.nocookie.net\/__cb20130621175844\/starwars\/images\/thumb\/6\/6f\/Anakin_Skywalker_RotS.png\/400px-Anakin_Skywalker_RotS.webp" alt="Darth Vader" id="image-placeholder"></span></h3>
        <ul>
            <li><b>Planet:</b> Tatooine</li>
            <li><b>Species:</b> Human</li>
        </ul>
      <a class="signup" href="">About</a>
    </div>

    {% endfor %}

  </div>
</html>