<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- CSS -->
    <link href="{{ url_for('static', filename='styles/characters.css')}}" rel="stylesheet" type="text/css" />
</head>
  <div id="pricing-table" class="clear">
    {% for character_name, character_info in all_characters.items() %}
      <div class="plan">
          <h3>{{ character_name }}<span><img alt="Darth Vader" id="image-placeholder" src={{ character_info['image'] }}></span></h3>
          <ul>
            <li><b>Gender:</b> {{ character_info['gender'] }}</li>
            <li><b>Birth:</b> {{ character_info['birth'] }}</li>
            <li><b>Planet:</b> {{ character_info['planet'] }}</li>
            <li><b>Species:</b> {{ character_info['species'] }}</li>
          </ul>
          <a class="signup" href="">More</a>
        </div>
    {% endfor %}
  </div>
</html>