<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>All Planets</title>
    <!-- CSS -->
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='styles/planets.css')}}" rel="stylesheet" type="text/css" />
</head>
<body class="full-intro background--dark">
    <!-- HEADER -->
    <header class="header">
        <div class="container">

            <!-- Navigation Menu -->
            <nav class='navigation'>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="/characters">Characters</a>
                    </li>
                    <li>
                        <a href="/species">Species</a>
                    </li>
                    <li>
                        <a href="/planets">Planets</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </nav>
            <!--End Navigation Menu -->

        </div>
    </header>
    <!-- END HEADER -->

  <h1 class="h1">Star Wars Planets</h1>

  <div class="box-table">
        <table>
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Name <button type="button" class="order" value="^" id="name">^</button></th>
                    <th>Region <button type="button" class="order" value="^" id="region">^</button></th>
                    <th>System<button type="button" class="order" value="^" id="system">^</button></th>
                    <th>Characters<button type="button" class="order" value="^" id="characters">^</button></th>
                    <th>Species<button type="button" class="order" value="^" id="species">^</button></th>
                </tr>
            </thead>
            <tbody>
                {% for planet in all_planets %}
                    <tr>
                        <td class="user-photo"><img class="user-tumb" src={{ planet.get_image() }}></td>
                        <td><a href="/planets/{{ planet.get_name() }}">{{ planet.get_name() }}</a></td>
                        <td>{{ planet.get_region() }}</td>
                        <td>{{ planet.get_system() }}</td>
                        <td>
                            <select style="position: relative;left: 1%;top: 5px;" value="characters" id="sort-order-character-{{ planet.get_name() }}">
                                {% for character_name in planet.get_characters() %}
                                    <option value="{{ character_name }}">{{ character_name }}</option>
                                {% endfor %}
                            </select>
                            <button type="button" style="position: relative;left: 1%;top: 5px;" class ='generic-select-characters' id="redirect-to-selected-character-in-{{ planet.get_name() }}">Go</button>
                        </td>
                        <td>
                            <select style="position: relative;left: 1%;top: 5px;" value="species" id="sort-order-species-{{ planet.get_name() }}">
                                {% for species_name in planet.get_species() %}
                                    <option value="{{ species_name }}">{{ species_name }}</option>
                                {% endfor %}
                            </select>
                            <button type="button" style="position: relative;left: 1%;top: 5px;" class ='generic-select-species' id="redirect-to-selected-character-in-{{ planet.get_name() }}">Go</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

  <!-- JS -->
  <script src="{{ url_for('static', filename='javascripts/jquery-1.11.2.min.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='javascripts/sorting.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='javascripts/navigation.js')}}" type="text/javascript"></script>
</body>
</html>