body{
  background: #303030;
}

.col-md-4 h3 {
    color: #fff;
}

.col-md-4 p {
    color: #fff;
}

.col-md-4 p a {
    color: orange;
}

.navigation ul li a {
    color: #fff;
}

img {
    max-height:75vh;
    min-width: 40vw;
    margin:auto;
    display:block;
}